<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Article</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add Article</h6>
            </div>
            <div class="card-body">
                @Html.Raw(ViewData["message"])
                <form method="post" action="/Articles/Edit" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Title">Article ID :</label>
                        <input type="text" class="form-control" name="ArticleID" readonly placeholder="ArticleID"
                            value="@Model.ArticleID" />
                    </div>
                    <div class="form-group">
                        <label for="Title">Article Title :</label>
                        <input type="text" class="form-control" name="Title" placeholder="Insert Article Title"
                            value="@Model.Title" />
                    </div>
                    <div class="form-group">
                        <label for="Details">Details :</label>
                        <input type="text" class="form-control" name="Details" placeholder="Insert Article Detail"
                            value="@Model.Details" />
                    </div>

                    <div class="form-group">
                        <label for="CategoryName">Category :</label>
                        <input type="text" class="form-control" name="CategoryID" placeholder="Insert Category"
                            value="@Model.CategoryID" />
                    </div>
                    <label for="currentImage"></label>
                    <img id="currentImage" src="~/picts/@Model.Pic" class="img-thumbnail" alt="..." Width="500">
                    <div class="form-group">
                        <label>Preview:</label>
                        <img id="previewImage" class="img-thumbnail" style="display: none;" alt="Preview Image"
                            width="500" />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        </div>
                        <div class="custom-file">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            <input type="file" class="custom-file-input" id="formFile" name="ImageArticle">
                        </div>
                    </div>

                    @Html.RadioButton("isApproved", "True", true) Approved
                    @Html.RadioButton("isApproved", "False") Approved
                    <br>

                    <input type="Submit" value="Edit" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // JavaScript to display and hide the uploaded image
        var formFileInput = document.getElementById('formFile');
        var previewImage = document.getElementById('previewImage');
        var currentImage = document.getElementById('currentImage');

        if (formFileInput && previewImage && currentImage) {
            formFileInput.addEventListener('change', function (event) {
                var fileInput = event.target;
                var files = fileInput.files;

                if (files.length > 0) {
                    // Show the preview image
                    previewImage.style.display = 'block';
                    currentImage.style.display = 'none';

                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };

                    reader.readAsDataURL(files[0]);
                } else {
                    // Hide the preview image and show the current image
                    previewImage.style.display = 'none';
                    currentImage.style.display = 'block';
                }
            });
        } else {
            console.error("One or more elements with id 'formFile', 'previewImage', or 'current-image' not found.");
        }
    </script>
}
