@model IEnumerable<MyWebFormApp.BLL.DTOs.ArticleDTO>
@{
    int pageNumber = 1;
    if (ViewData["pageNumber"] != null)
    {
        pageNumber = Convert.ToInt32(ViewData["pageNumber"]);
    }
}
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="modalImage" src="#" class="img-fluid" alt="Preview Image">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Article Page</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Article Page</h6>
            </div>
            <div class="card-body">
                @Html.Raw(ViewData["message"])

                @* <form asp-action="Index" method="get" class="form-inline">
                <p>
                <input type="text" id="search" class="form-control" name="search" value=""
                placeholder="search article title" />
                &nbsp;
                <input type="submit" class="btn btn-primary" value="Search" />
                </p>
                </form> *@

                <!-- Uncomment the following lines to display the dropdown -->
                <form asp-action="Index" method="get" class="form-inline mb-3">
                    <select name="categoryId" class="form-control">
                        <option value="" s>All Categories</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryID">@category.CategoryName</option>
                        }
                    </select>
                    <input type="text" id="search" class="form-control" name="search" value="@ViewData["search"]"
                        placeholder="search article title" />
                    <input type="submit" class="btn btn-primary ml-3" value="Search" />
                </form>


                <!-- Uncomment the following lines to display the dropdown -->
                @* <form asp-action="DisplayDropdownList" class="form-inline mb-3">
                <select name="selectedCategoryId" class="form-control"
                asp-items="@(new SelectList(Model, "CategoryID", "CategoryName"))">
                </select>
                <input type="submit" value="Filter" class="btn btn-primary ml-3" />
                </form> *@

                

                @{
                    if (ViewBag.role != null && ViewBag.role.Count > 0)
                    {
                        foreach (var role in ViewBag.role)
                        {
                            if (role.RoleName == "contributor")
                            {
                                <a asp-action="Create" class="btn btn-success mb-3">
                                    <i class="fa fa-solid fa-plus"></i> Create New
                                    Article
                                </a>

                            }
                        }
                    }
                    else
                    {
                        <p>Please login</p>
                    }
                }

                <br>
                <table class="table table-striped">
                    <tr>
                        <th>Category</th>
                        <th>Article Title</th>
                        <th>Details</th>
                        <th>Published Date</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                    @foreach (var article in Model)
                    {
                        <tr>
                            <td>
                                @article.CategoryName
                            </td>
                            <td>@article.Title</td>
                            <td>@article.Details</td>
                            <td>@article.PublishDate</td>
                            <td>
                                <img src="~/picts/@article.Pic" class="img-thumbnail articleImage" alt="..." Width="100">

                            </td>
                            <td>
                                @{
                                    if (ViewBag.role != null && ViewBag.role.Count > 0)
                                    {
                                        @foreach (var role in ViewBag.role)
                                        {
                                            if (role.RoleName == "contributor")
                                            {
                                                <a asp-action="Edit" asp-route-id="@article.ArticleID"
                                                   class="btn btn-warning btn-sm">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@article.ArticleID"
                                                   class="btn btn-danger btn-sm">Delete</a>

                                            }
                                            else if (role.RoleName == "reader")
                                            {
                                            <td></td>
                                            <td></td>
                                            }

                                        }
                                    }
                

                                }


                            </td>


                        </tr>
                    }
                </table>

                <a class="btn btn-outline-info btn-sm" asp-action="Index" asp-route-pageNumber="1">First</a>&nbsp;
                <a href="/Articles/Index?act=prev&pageNumber=@pageNumber"
                    class="btn btn-outline-info btn-sm">Prev</a>&nbsp;
                <a href="/Articles/Index?act=next&pageNumber=@pageNumber"
                    class="btn btn-outline-info btn-sm">Next</a>&nbsp;
                <a class="btn btn-outline-info btn-sm" asp-action="Index"
                    asp-route-pageNumber="@(ViewData["totalPages"])">Last</a>


            </div>
        </div>

    </div>

</div>

@section scripts {
    <script>
        var articleImages = document.querySelectorAll('.articleImage');
        var modalImage = document.getElementById('modalImage');

        articleImages.forEach(function (image) {
            image.addEventListener('click', function () {

                modalImage.src = image.src;

                $('#imageModal').modal('show');
            });
        });
    </script>
}
